:root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #1a1a1a;
  --COLOR-GRAY-LIGHT: #acacac;
  --COLOR-ONGOING: #98c1d9;
  --COLOR-DONE: #ee6c4d;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}